{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<html>
<head>
	<script type="text/javascript">
	$(document).ready(function(){
 $('#click').click(function(){
		var pic = "{{ url_for('video_feed')}}"
		
        document.getElementById('bg').src = pic.replace('100x100', '225x225');
    });
  // set time out 5 sec
     setTimeout(function(){
        $('#click').trigger('click');
    }, 100);
});
    </script>
	<title> Face Detector </title>
</head>
<body>
	<img id = "bg" src="bg">
	<button id="click" class="btn btn-danger" onclick='picture()' hidden="true">Jquery Auto Click</button>
	<form action="/pythonlogin/display" method="POST">
        <td>
      <input type="submit"  name= "subject" value="display" >
        </td>
    </form>
	
	
	
</body>
</html>

{% endblock %}